abilian-core @ https://github.com/abilian/abilian-core/archive/master.zip ; python_full_version >= "3.6.1" and python_version < "4"
abilian-sbe @ https://github.com/abilian/abilian-sbe/archive/master.zip ; python_full_version >= "3.6.1" and python_version < "4"
alembic==1.4.3; python_full_version >= "3.6.1" and python_version < "4"
amqp==2.6.1; python_full_version >= "3.6.1" and python_version < "4"
babel==2.9.0; python_full_version >= "3.6.1" and python_version < "4"
bcrypt==3.2.0; python_full_version >= "3.6.1" and python_version < "4" and python_version >= "3.6"
billiard==3.6.3.0; python_full_version >= "3.6.1" and python_version < "4"
bleach==3.2.1; python_full_version >= "3.6.1" and python_version < "4"
blinker==1.4; python_full_version >= "3.6.1" and python_version < "4"
celery==4.4.7; python_full_version >= "3.6.1" and python_version < "4"
certifi==2020.11.8; python_full_version >= "3.6.1" and python_version < "4"
cffi==1.14.4; python_full_version >= "3.6.1" and python_version < "4" and python_version >= "3.6"
chardet==3.0.4; python_full_version >= "3.6.1" and python_version < "4"
clamd==1.0.2; python_full_version >= "3.6.1" and python_version < "4"
click==7.1.2; python_full_version >= "3.6.1" and python_version < "4"
closure==20161201
cssmin==0.2.0; python_full_version >= "3.6.1" and python_version < "4"
decorator==4.4.2; python_full_version >= "3.6.1" and python_version < "4" and python_version >= "3.4"
deprecated==1.2.10; python_full_version >= "3.6.1" and python_version < "4"
devtools==0.6.1; python_full_version >= "3.6.1" and python_version < "4" and python_version >= "3.6"
et-xmlfile==1.0.1; python_full_version >= "3.6.1" and python_version < "4"
flask-assets==0.12; python_full_version >= "3.6.1" and python_version < "4"
flask-babel==1.0.0; python_full_version >= "3.6.1" and python_version < "4"
flask-env==2.0.0
flask-login==0.5.0; python_full_version >= "3.6.1" and python_version < "4"
flask-mail==0.9.1; python_full_version >= "3.6.1" and python_version < "4"
flask-migrate==2.5.3; python_full_version >= "3.6.1" and python_version < "4"
flask-sqlalchemy==2.1; python_full_version >= "3.6.1" and python_version < "4"
flask-talisman==0.7.0; python_full_version >= "3.6.1" and python_version < "4"
flask-wtf==0.12; python_full_version >= "3.6.1" and python_version < "4"
flask==1.1.2; python_full_version >= "3.6.1" and python_version < "4"
gunicorn==20.0.4; python_version >= "3.4"
html2text==2020.1.16; python_full_version >= "3.6.1" and python_version < "4" and python_version >= "3.5"
hyperlink==20.0.1; python_full_version >= "3.6.1" and python_version < "4"
idna==2.10; python_full_version >= "3.6.1" and python_version < "4"
importlib-metadata==3.1.0; python_full_version >= "3.6.1" and python_version < "3.8" and python_version >= "3.6"
infinity==1.5; python_full_version >= "3.6.1" and python_version < "4"
intervals==0.9.0; python_full_version >= "3.6.1" and python_version < "4"
itsdangerous==1.1.0; python_full_version >= "3.6.1" and python_version < "4"
jdcal==1.4.1; python_full_version >= "3.6.1" and python_version < "4"
jinja2==2.11.2; python_full_version >= "3.6.1" and python_version < "4"
jsmin==2.2.2; python_full_version >= "3.6.1" and python_version < "4"
kombu==4.6.11; python_full_version >= "3.6.1" and python_version < "4"
langid==1.1.6; python_full_version >= "3.6.1" and python_version < "4"
lxml==4.6.1; python_full_version >= "3.6.1" and python_version < "4"
mako==1.1.3; python_full_version >= "3.6.1" and python_version < "4"
markdown==3.3.3; python_full_version >= "3.6.1" and python_version < "4" and python_version >= "3.6"
markupsafe==1.1.1; python_full_version >= "3.6.1" and python_version < "4"
newrelic==5.22.1.152; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
numpy==1.19.4; python_full_version >= "3.6.1" and python_version < "4" and python_version >= "3.6"
openpyxl==2.6.4; python_full_version >= "3.6.1" and python_version < "4"
packaging==20.4; python_full_version >= "3.6.1" and python_version < "4"
pandas==1.1.4; python_full_version >= "3.6.1" and python_version < "4"
pathlib==1.0.1; python_full_version >= "3.6.1" and python_version < "4"
pillow==8.0.1; python_full_version >= "3.6.1" and python_version < "4" and python_version >= "3.6"
psycopg2-binary==2.8.6; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
pycparser==2.20; python_full_version >= "3.6.1" and python_version < "4" and python_version >= "3.6"
pygeoip==0.3.2; python_full_version >= "3.6.1" and python_version < "4"
pyparsing==2.4.7; python_full_version >= "3.6.1" and python_version < "4"
python-dateutil==2.8.1; python_full_version >= "3.6.1" and python_version < "4"
python-editor==1.0.4; python_full_version >= "3.6.1" and python_version < "4"
python-magic==0.4.18; python_full_version >= "3.6.1" and python_version < "4"
pytz==2020.4; python_full_version >= "3.6.1" and python_version < "4"
pyyaml==5.3.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
raven==6.10.0
redis==3.5.3; python_full_version >= "3.6.1" and python_version < "4"
sentry-sdk==0.19.4; python_full_version >= "3.6.1" and python_version < "4"
six==1.15.0; python_full_version >= "3.6.1" and python_version < "4" and python_version >= "3.6"
sqlalchemy-utils==0.36.8; python_full_version >= "3.6.1" and python_version < "4"
sqlalchemy==1.2.19
sqlparse==0.4.1; python_full_version >= "3.6.1" and python_version < "4" and python_version >= "3.5"
toolz==0.11.1; python_full_version >= "3.6.1" and python_version < "4" and python_version >= "3.5"
tqdm==4.53.0; python_full_version >= "3.6.1" and python_version < "4"
urllib3==1.26.2; python_full_version >= "3.6.1" and python_version < "4"
validate-email==1.3; python_full_version >= "3.6.1" and python_version < "4"
validators==0.18.1; python_full_version >= "3.6.1" and python_version < "4" and python_version >= "3.4"
vine==1.3.0; python_full_version >= "3.6.1" and python_version < "4"
webassets==0.12.1; python_full_version >= "3.6.1" and python_version < "4"
webencodings==0.5.1; python_full_version >= "3.6.1" and python_version < "4"
werkzeug==0.16.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
whoosh==2.7.4; python_full_version >= "3.6.1" and python_version < "4"
wrapt==1.12.1; python_full_version >= "3.6.1" and python_version < "4"
wtforms-alchemy==0.17.0; python_full_version >= "3.6.1" and python_version < "4"
wtforms-components==0.10.4; python_full_version >= "3.6.1" and python_version < "4"
wtforms-sqlalchemy==0.2; python_full_version >= "3.6.1" and python_version < "4" and python_version >= "3.6"
wtforms==2.1; python_full_version >= "3.6.1" and python_version < "4" and python_version >= "3.6"
xlwt==1.3.0; python_full_version >= "3.6.1" and python_version < "4"
zipp==3.4.0; python_full_version >= "3.6.1" and python_version < "3.8" and python_version >= "3.6"
